/* COLOCANDO COR DE FUNDO NO MEU CABEÇALHO*/
header{
    background-color:rgb(12, 6, 6); /* COR DE FUNDO DO CABEÇALHO*/
    font-family: barlow, sans-serif; /*FONTE DE LETRA DO CABEÇALHO*/
    color:white; /* COR DA LETRA DO CABEÇALHO*/
}
nav {
  
    text-align: center; /* ALINHAMENTO DO TEXTO DO MENU DE NAVEGAÇÃO*/
    border-color: rgb(179, 41, 41); /* COR DA BORDA DO MENU DE NAVEGAÇÃO*/
    background-color: rgb(12, 6, 6); /* COR DE FUNDO DO MENU DE NAVEGAÇÃO*/
    border-width: 1px; /* LARGURA DA BORDA DO MENU DE NAVEGAÇÃO*/
    border-style: solid; /* ESTILO DA BORDA DO MENU DE NAVEGAÇÃO*/
    padding: 10px; /* ESPAÇAMENTO INTERNO DO MENU DE NAVEGAÇÃO*/
}
nav a{
    color:rgb(255, 255, 255); /* COR DA LETRA DO MENU DE NAVEGAÇÃO*/
    text-decoration:none; /* TIRA O SUBLINHADO DO MENU DE NAVEGAÇÃO*/
    margin: 0 30px; /* ESPAÇAMENTO ENTRE OS ITENS DO MENU DE NAVEGAÇÃO*/
    text-align: center; /* ALINHAMENTO DO TEXTO DO MENU DE NAVEGAÇÃO*/
    font-family: barlow, sans-serif; /* FONTE DE LETRA DO MENU DE NAVEGAÇÃO*/
}

.logo img{
    width: 100px; /* LARGURA DA IMAGEM DO LOGO*/
    height: auto; /* ALTURA AUTOMÁTICA PARA MANTER A PROPORÇÃO DA IMAGEM DO LOGO*/
}
/* CONFIGURANDO O CAIXA DE PESQUISA */
.caixa-pesquisa input{
    padding: 15px; /* ESPAÇAMENTO INTERNO DO CAMPO DE PESQUISA*/
    border: none; /* REMOVE A BORDA DO CAMPO DE PESQUISA*/
    border-radius: 25px; /* ARREDONDAMENTO DAS BORDAS DO CAMPO DE PESQUISA*/
    font-family: barlow, sans-serif; /* FONTE DE LETRA DO CAMPO DE PESQUISA*/
    height: auto; /* ALTURA DO CAMPO DE PESQUISA*/
    width: 300px; /* LARGURA DO CAMPO DE PESQUISA*/
    color: rgb(163, 163, 163); /* COR DA LETRA DO CAMPO DE PESQUISA*/
    padding-right: 40px; /* ESPAÇAMENTO INTERNO DO CAMPO DE PESQUISA PARA O ÍCONE DE PESQUISA*/
}
/* CONFIGURANDO A DIV DA PESQUISA */
.caixa-pesquisa{
    display: flex; /* EXIBE OS ELEMENTOS EM UMA LINHA */
    justify-content: center; /* ALINHAMENTO HORIZONTAL DOS ELEMENTOS*/
    margin-top: 10px; /* MARGEM SUPERIOR DA DIV DA PESQUISA*/
    margin-bottom: 10px; /* MARGEM INFERIOR DA DIV DA PESQUISA*/
    position: relative; /* POSIÇÃO RELATIVA PARA PERMITIR O POSICIONAMENTO ABSOLUTO DO ÍCONE DE PESQUISA*/
}
/* ALINHAR AS DIVS DO CABEÇALHO */
.topo{
    display: flex; /* EXIBE OS ELEMENTOS EM UMA LINHA */
    align-items: center; /* ALINHAMENTO VERTICAL DOS ELEMENTOS*/
    justify-content: space-between; /* DISTRIBUIÇÃO DOS ELEMENTOS COM ESPAÇO ENTRE ELES*/
    
}
/*CONFIGURANDO OS ICONES*/
.caixa-pesquisa img{
    height: 30px; /* ALTURA DO ÍCONE DE PESQUISA*/
    width: 30px; /* LARGURA AUTOMÁTICA PARA MANTER A PROPOR*/
    position: absolute; /* POSIÇÃO ABSOLUTA PARA POSICIONAR O ÍCONE DE PESQUISA DENTRO DA DIV DA PESQUISA*/
    right: 10px; /* DISTÂNCIA DO ÍCONE DE PESQUISA DA BORDA ESQUERDA DO CAMPO DE PESQUISA*/
    top: 50%; /* ALINHAMENTO VERTICAL DO ÍCONE DE PESQUISA*/
    transform: translateY(-50%); /* AJUSTA O ALINHAMENTO VERTICAL DO ÍCONE DE PESQUISA*/
}
.caixa-pesquisa input::placeholder{
    padding-left: 10px; /* ESPAÇAMENTO INTERNO DO TEXTO DE PLACEHOLDER DO CAMPO DE PESQUISA*/
}
.icones a img{
    height: 30px; /* ALTURA DOS ÍCONES DE USUÁRIO E CARRINHO*/
    width: 30px; /* LARGURA DOS ÍCONES DE USUÁRIO E CARRINHO*/
    margin-left: px; /* DISTÂNCIA ENTRE OS ÍCONES DE USUÁRIO E CARRINHO*/
    grid-row: 1 / 3; /* FAZ COM QUE OS ÍCONES DE USUÁRIO E CARRINHO OCUPEM DUAS LINHAS NA GRADE*/

}
/* CONFIGURANDO OS ÍCONES DE USUÁRIO E CARRINHO */
.icones a small{
    font-size: 12px; /* TAMANHO DA LETRA DOS ÍCONES DE USUÁRIO E CARRINHO*/
    display: block; /* EXIBE O TEXTO DOS ÍCONES DE USUÁRIO E CARRINHO EM UMA NOVA LINHA*/
    color:rgb(255, 255, 255); /* COR DA LETRA DOS ÍCONES DE USUÁRIO E CARRINHO*/
    grid-column: 2; /* FAZ COM QUE O TEXTO DOS ÍCONES DE USUÁRIO E CARRINHO OCUPE A SEGUNDA COLUNA DA GRADE*/
    grid-row: 1; /* FAZ COM QUE O TEXTO DOS ÍCONES DE USUÁRIO E CARRINHO OCUPE A PRIMEIRA LINHA DA GRADE*/
    margin: 0; /* REMOVE A MARGEM DOS ÍCONES DE USUÁRIO E CARRINHO*/
   
}
.icones a p{
    font-size: 12px; /* TAMANHO DA LETRA DOS ÍCONES DE USUÁRIO E CARRINHO*/
    display: block; /* EXIBE O TEXTO DOS ÍCONES DE USUÁRIO E CARRINHO EM UMA NOVA LINHA*/
    color:rgb(255, 255, 255); /* COR DA LETRA DOS ÍCONES DE USUÁRIO E CARRINHO*/
    grid-column: 2; /* FAZ COM QUE O TEXTO DOS ÍCONES DE USUÁRIO E CARRINHO OCUPE A SEGUNDA COLUNA DA GRADE*/
    grid-row: 2; /* FAZ COM QUE O TEXTO DOS ÍCONES DE USUÁRIO E CARRINHO OCUPE A SEGUNDA LINHA DA GRADE*/
    margin: 0; /* REMOVE A MARGEM DOS ÍCONES DE USUÁRIO E CARRINHO*/
    
    
}
.icones a p{
    text-decoration: none; /* REMOVE O SUBLINHADO DOS ÍCONES DE USUÁRIO E CARRINHO*/
}
.icones a{
    text-decoration: none; /* REMOVE O SUBLINHADO DOS ÍCONES DE USUÁRIO E CARRINHO*/
    display: grid; /* EXIBE OS ÍCONES DE USUÁRIO E CARRINHO EM UMA GRADE*/
    grid-template-columns: 40px auto; /* DEFINE UMA COLUNA PARA OS ÍCONES DE USUÁRIO E CARRINHO*/
    grid-template-rows: auto auto; /* DEFINE DUAS LINHAS PARA OS ÍCONES DE USUÁRIO E CARRINHO*/
    margin-right: 20px; /* DISTÂNCIA ENTRE OS ÍCONES DE USUÁRIO E CARRINHO E A BORDA DIREITA DO CABEÇALHO*/
}
/* CONFIGURANDO A DIV ICONES*/
.icones{
    display: flex; /* EXIBE OS ÍCONES DE USUÁRIO E CARRINHO EM UMA LINHA*/
    align-items: center; /* ALINHAMENTO VERTICAL DOS ÍCONES DE USUÁRIO E CARRINHO*/
    gap: 30px; /* ESPAÇAMENTO ENTRE OS ÍCONES DE USUÁRIO E CARRINHO*/
}
/*configurando a área do banner*/
.imagens-banner img{
    max-width: 100%; /* LARGURA MÁXIMA DO BANNER PARA SE AJUSTAR AO TAMANHO DA TELA*/
}
.banner{
    display: flex; /* EXIBE AS IMAGENS DO BANNER EM UMA LINHA*/
    justify-content: space-between; /* ALINHAMENTO HORIZONTAL DAS IMAGENS DO BANNER*/
    align-items: center; /* ALINHAMENTO VERTICAL DAS IMAGENS DO BANNER*/
   
}

.imagens-banner{
    position: relative; /* POSIÇÃO RELATIVA PARA PERMITIR O POSICIONAMENTO ABSOLUTO DOS BOTÕES DE NAVEGAÇÃO DO BANNER*/
    width: 100%; /* LARGURA DO BANNER PARA SE AJUSTAR AO TAMANHO DA TELA*/
    height: auto; /* ALTURA AUTOMÁTICA PARA MANTER A PROPORÇÃO DO BANNER*/
}
.btn-comprar{
    position: absolute;
    top: 70%;
    left: 20%;
    background-color: #A21D54;
    color: #FFFFFF;
    border-radius: 10px;
    font-family: poppins, sans-serif;       
    font-size: 18px;
    padding: 5px 20px;
    border: none;
}
.btn-anterior{
    position:absolute;
    top: 50%;
    left: 2%;
    background-color: transparent;
    color: #A21D54;
    border-radius: 50%;
    border: none;
    padding: 10px;
}
.btn-proximo{
    position:absolute;
    top: 50%;
    left: 93%;
    background-color: transparent;
    color: #A21D54;
    border-radius: 50%;
    border: none;
    padding: 10px;
   
}
.btn-comprar:hover{
    background-color: #f1f1f1;
    color: #A21D54;
}
.btn-anterior:hover, .btn-proximo:hover{
    background-color: #A21D54;
    color: #FFFFFF;
}
/* CONFIGURANDO A ÁREA DE OFERTAS */
.ofertas{
    padding: 20px; /*DISTANCIA ENTRE O CONTEÚDO DA DIV DE OFERTAS E AS BORDAS DA DIV*/
}
/* CONFIGURANDO O TÍTULO DA ÁREA DE OFERTAS */
.titulo-ofertas{
    font-family: barlow, sans-serif; /* FONTE DE LETRA DO TÍTULO DA ÁREA DE OFERTAS*/
    display: grid; /* EXIBE OS ITENS DA ÁREA DE OFERTAS EM UMA GRADE*/
    grid-template-columns: 2 80% 20%; /*DEFINE O TAMANHO DAS COLUNAS DA GRADE*/
    grid-template-rows: 2 50% 50%; /*DEFINE O TAMANHO DAS LINHAS DA GRADE*/
    margin-bottom: 20px; /* MARGEM INFERIOR DO TÍTULO DA ÁREA DE OFERTAS*/
}
.titulo-ofertas h2{
    color:rgb(0, 0, 0); /* COR DA LETRA DO TÍTULO DA ÁREA DE OFERTAS*/
    font-size: 24px; /* TAMANHO DA LETRA DO TÍTULO DA ÁREA DE OFERTAS*/
    grid-column: 1; /* FAZ COM QUE O TÍTULO DA ÁREA DE OFERTAS OCUPE A PRIMEIRA COLUNA DA GRADE*/
    grid-row: 1; /* FAZ COM QUE O TÍTULO DA ÁREA DE OFERTAS OCUPE A PRIMEIRA LINHA DA GRADE*/
    margin: 0; /* REMOVE A MARGEM DO TÍTULO DA ÁREA DE OFERTAS*/
}
.titulo-ofertas p{
    color:rgb(66, 55, 4); /* COR DA LETRA DO TÍTULO DA ÁREA DE OFERTAS*/
    font-size: 14px; /* TAMANHO DA LETRA DO TÍTULO DA ÁREA DE OFERTAS*/
    grid-column: 1; /* FAZ COM QUE O TÍTULO DA ÁREA DE OFERTAS OCUPE A PRIMEIRA COLUNA DA GRADE*/
    grid-row: 2; /* FAZ COM QUE O TÍTULO DA ÁREA DE OFERTAS OCUPE A SEGUNDA LINHA DA GRADE*/
    margin: 0; /* REMOVE A MARGEM DO TÍTULO DA ÁREA DE OFERTAS*/
}
.titulo-ofertas a{
    text-decoration: none; /* REMOVE O SUBLINHADO DO LINK DO TÍTULO DA ÁREA DE OFERTAS*/
    color:rgb(68, 12, 197); /* COR DA LETRA DO LINK DO TÍTULO DA ÁREA DE OFERTAS*/
    font-size: 14px; /* TAMANHO DA LETRA DO LINK DO TÍTULO DA ÁREA DE OFERTAS*/
    grid-column: 2; /* FAZ COM QUE O LINK DO TÍTULO DA ÁREA DE OFERTAS OCUPE A SEGUNDA COLUNA DA GRADE*/
    grid-row: 1 / 3; /* FAZ COM QUE O LINK DO TÍTULO DA ÁREA DE OFERTAS OCUPE AS DUAS LINHAS DA GRADE*/
    align-self: center; /* ALINHAMENTO VERTICAL DO LINK DO TÍTULO DA ÁREA DE OFERTAS*/
    padding-left: 80%; /* ESPAÇAMENTO INTERNO DO LINK DO TÍTULO DA ÁREA DE OFERTAS PARA A ESQUERDA*/
}
.lista-produto{
    display: flex; /* EXIBE OS PRODUTOS EM UMA LINHA*/
    justify-content: space-between; /* ALINHAMENTO HORIZONTAL DOS PRODUTOS*/
    font-family: barlow, sans-serif; /* FONTE DE LETRA DOS PRODUTOS*/
    margin-top: 40px; /* MARGEM SUPERIOR DOS PRODUTOS*/
    
}
.card-produtos{
    width: 200px; /* LARGURA DOS CARDS DE PRODUTOS PARA SE AJUSTAR AO TAMANHO DA TELA*/
    height: 50%; /* ALTURA DOS CARDS DE PRODUTOS PARA SE AJUSTAR AO TAMANHO DA TELA*/
    background-color: rgb(218, 207, 207); /* COR DE FUNDO DOS CARDS DE PRODUTOS*/
    border: 1px solid rgb(255, 255, 255); /* BORDA DOS CARDS DE PRODUTOS*/
    border-radius: 10px; /* ARREDONDAMENTO DAS BORDAS DOS CARDS DE PRODUTOS*/
    padding: 10px; /* ESPAÇAMENTO INTERNO DOS CARDS DE PRODUTOS*/
    text-align: center; /* ALINHAMENTO DO TEXTO DOS CARDS DE PRODUTOS*/
}
.card-produtos img{
    width: 100%; /* LARGURA DAS IMAGENS DOS CARDS DE PRODUTOS PARA SE AJUSTAR AO TAMANHO DO CARD*/
    height: auto; /* ALTURA AUTOMÁTICA PARA MANTER A PROPORÇÃO DAS IMAGENS DOS CARDS DE PRODUTOS*/
    margin-bottom: 10px; /* MARGEM INFERIOR DAS IMAGENS DOS CARDS DE PRODUTOS*/
    border-radius: 10px; /* ARREDONDAMENTO DAS BORDAS DAS IMAGENS DOS CARDS DE PRODUTOS*/
    
}
.imagem-botao{
    position: relative; /* POSIÇÃO RELATIVA PARA PERMITIR O POSICIONAMENTO ABSOLUTO DO BOTÃO DE FAVORITO DOS CARDS DE PRODUTOS*/
}
.favorito{
    position: absolute; /* POSIÇÃO ABSOLUTA PARA POSICIONAR O BOTÃO DE FAVORITO DOS CARDS DE PRODUTOS*/    
    border: none; /* REMOVE A BORDA DO BOTÃO DE FAVORITO DOS CARDS DE PRODUTOS*/
    border-radius: 50%; /* ARREDONDAMENTO DAS BORDAS DO BOTÃO DE FAVORITO DOS CARDS DE PRODUTOS*/
    background-color: transparent; /* COR DE FUNDO TRANSPARENTE PARA O BOTÃO DE FAVORITO DOS CARDS DE PRODUTOS*/
    top: 0px; /* DISTÂNCIA DO BOTÃO DE FAVORITO DOS CARDS DE PRODUTOS DA BORDA SUPERIOR DA IMAGEM DO CARD DE PRODUTO*/
    right: 0px; /* DISTÂNCIA DO BOTÃO DE FAVORITO DOS CARDS DE PRODUTOS DA BORDA DIREITA DA IMAGEM DO CARD DE PRODUTO*/
    padding: 10px; /* ESPAÇAMENTO INTERNO DO BOTÃO DE FAVORITO DOS CARDS DE PRODUTOS*/
}

.favorito img{
    width: 25px; /* LARGURA DO ÍCONE DE FAVORITO DOS CARDS DE PRODUTOS*/
    height: auto; /* ALTURA AUTOMÁTICA PARA MANTER A PROPORÇÃO DO ÍCONE DE FAVORITO DOS CARDS DE PRODUTOS*/
    
}
/*CONFIGURANDO O NOME DO PRODUTO*/
.card-produtos h3{
    font-size: 16px; /* TAMANHO DA LETRA DO NOME DOS PRODUTOS*/
    font-family: barlow, sans-serif; /* FONTE DE LETRA DO NOME DOS PRODUTOS*/
    color: rgb(0, 0, 0); /* COR DA LETRA DO NOME DOS PRODUTOS*/
    font-style: normal; /* ESTILO DA LETRA DO NOME DOS PRODUTOS*/
}
/*CONFIGURANDO O BOTÃO DE ADICIONAR AO CARRINHO*/
.btn-adicionar{
    border-radius: 40px; /* ARREDONDAMENTO DAS BORDAS DO BOTÃO DE ADICIONAR AO CARRINHO DOS CARDS DE PRODUTOS*/
    background-color: #ffffff00; /* COR DE FUNDO DO BOTÃO DE ADICIONAR AO CARRINHO DOS CARDS DE PRODUTOS*/
    border: none; /* REMOVE A BORDA DO BOTÃO DE ADICIONAR AO CARRINHO DOS CARDS DE PRODUTOS*/
    margin-left: 60px; /* DISTÂNCIA ENTRE O BOTÃO DE ADICIONAR AO CARRINHO DOS CARDS DE PRODUTOS E A BORDA DIREITA DO CARD DE PRODUTO*/
    
}
.btn-adicionar img{
    width: 30px; /* LARGURA DO ÍCONE DE ADICIONAR AO CARRINHO DOS CARDS DE PRODUTOS*/
    padding: 5px; /* ESPAÇAMENTO INTERNO DO ÍCONE DE ADICIONAR AO CARRINHO DOS CARDS DE PRODUTOS*/
}
.precos{
    display: grid; /*PERMITE COLOCAR ITENS UM AO LADO OUTRO*/
    grid-template-columns: 2; /*DEFINE O TAMANHO DAS COLUNAS DA GRADE*/
    grid-template-rows: 1; /*DEFINE O TAMANHO DAS LINHAS DA GRADE*/
    align-items: center;
    font-family: barlow, sans-serif;
}
.p-antigo{
    grid-column: 1; /* FAZ COM QUE O PREÇO ANTIGO OCUPE A PRIMEIRA COLUNA DA GRADE*/
    grid-row: 1; /* FAZ COM QUE O PREÇO ANTIGO OCUPE A PRIMEIRA LINHA DA GRADE*/
    text-decoration: line-through; /* ADICIONA UMA LINHA ATRAVÉS DO PREÇO ANTIGO PARA INDICAR QUE ELE ESTÁ DESCONTADO*/
    font-size: 12px; /*TAMANHO DO TEXTO*/
    color: bisque;
}
.p-promocional{
    grid-column: 2; /* FAZ COM QUE O PREÇO PROMOCIONAL OCUPE A SEGUNDA COLUNA DA GRADE*/
    grid-row: 1; /* FAZ COM QUE O PREÇO PROMOCIONAL OCUPE A PRIMEIRA LINHA DA GRADE*/
    text-decoration: bold;
    font-size: 18px; /* TAMANHO DO TEXTO*/
    color: #A21D54; /*COR DO TEXTO*/
    text-align: left; /*ALINHA O TEXTO PARA A ESQUERDA*/
    
}
.btn-card{
    display: flex; /*modelo flexivel*/
    align-items: center; /*alinha os itens ao meio*/
    gap: 20px; /*espaçamento entre os elementos*/
}
.btn-card img{
    width: 24px; /*largura da imagem*/
}
.btn-card h5{
    font-size: 14px; /*tamanho do texto*/
}
/*Configurações de Rodapé*/
footer{ /* flooter não pode ter ponto*/
    background-color: black; /*cor de fundo*/
    color: white; /*todos os textos na cor branca*/
    font-family: barlow, sans-serif; /*tipo de fonte*/
    padding: 40px;
}
.superior{
    display: flex; /*permitir flexibilidade entre as colunas*/
    gap:10px; /*espaçamento entre as divs*/
    justify-content: space-between; /*define um tamanho igual entre as divs*/
    flex-wrap: wrap; /*joga os textos para outra linha caso não possa caber na div*/
}
.inferior{
    display: flex; /*permitir flexibilidade entre as colunas*/
    gap:20px; /*espaçamento entre as divs*/
    justify-content: space-between; /*definir um tamanho igual entre os paragrafos*/
    flex-wrap: wrap; /*joga os textos para outra linha caso não possa caber na div*/
    align-items: center; /*alinha os paragrafos no centro*/
}
.coluna1,.coluna2,.coluna3,.coluna4{
    flex: 1; /*que cada coluna ocupa 1 espaço na página*/
}
.superior h2,.h4{
    font-size: 18px; /*tamanho dos titulos*/
    font-weight: bold; /*apliquei negrito aos titulos*/
}
.superior p{
    font-size: 12px; /*tamanho dos parágrafos*/
}
.superior a{
    color: white; /*cor dos links*/
    font-size: 10px; /*tamanho dos paragrafos*/
    text-decoration: none; /*rmeove o sublinado*/
}
.superior img{
    width: 24px; /*definir tamanho dos icones*/
}
.formadepagamento{
    background-color: white;
    border-radius: 20px;
    width: 200px;
    height: 30px;
    align-items: center;
    
}
.formadepagamento a{
    margin-left: 10px;
}
.redesSociais{
    margin-left: 10px;

}
/*configurar para que os elementos da página preencham toda a tela*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* definir que a página não precisa de barra horizontal*/
body{
    overflow-x: hidden; /*remove a barra de rolagem horizontal*/
    width: 100%; /*preencher sempre 100% da tela*/
}